{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Add New Contact</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit"></input>
    </form>
</div>
{% endblock %}