{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/comlog_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container comlog-detail-container">
    <div class="comlog-header">
        <div class="comlog-title-and-actions">
            <h1 class="comlog-title">Communication Log Details</h1>
            <div class="comlog-actions">
                <a href="{% url 'com_log:update' com_log.pk %}" class="btn btn-edit">Edit</a>
                <a href="{% url 'com_log:create' %}" class="btn btn-log">Log New Interaction</a>
                <a href="{% url 'task_tracker:task_create' %}" class="btn btn-log">Create a New Task</a>
                {% if com_log.content_type.model == 'people' %}
                    <a href="{% url 'com_log:contact_interactions' contact_type='person' contact_id=com_log.object_id %}" class="btn btn-log">View Contact History</a>
                {% elif com_log.content_type.model == 'church' %}
                    <a href="{% url 'com_log:contact_interactions' contact_type='church' contact_id=com_log.object_id %}" class="btn btn-log">View Contact History</a>
                {% endif %}                
                <a href="{% url 'com_log:list' %}" class="btn btn-back">Back to List</a>                
                {% comment %} <a href="{% url 'com_log:delete' com_log.pk %}" class="btn btn-delete">Delete</a> {% endcomment %}
            </div>
        </div>
    </div>

    <div class="comlog-info">
        <div class="info-section">
            <h2>Contact Information</h2>
            <p><strong>Name:</strong> {{ com_log.get_contact_name }}</p>
            <p><strong>Type:</strong> {{ com_log.get_contact_type }}</p>
        </div>
        <div class="info-section">
            <h2>Communication Details</h2>
            <p><strong>Date:</strong> {{ com_log.date }}</p>
            <p><strong>Type:</strong> {{ com_log.get_communication_type_display }}</p>
        </div>
    </div>

    <div class="additional-info">
        <h2>Notes</h2>
        <p>{{ com_log.notes }}</p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/comlog_detail.js' %}"></script>
{% endblock %}